<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- DIRETORIO DE LEITURA-->

    <add key="Path" value="C:\Arquivos"/>

    <!--- Intervalos Entre Re-execusão -->
    <add key="TempoEmHoras" value="24"/>

       <!-- DIRETORIO DE LEITURA-->

    <add key="Path" value="C:\Arquivos"/>

    <!--- Intervalos Entre Re-execusão -->
    <add key="TempoEmHoras" value="12"/>

    <!--- Banco -->

    <add key="bancoCHAT" value="DIM_CHATS"/>
    <add key="bancoOSCLINICAS" value="DIM_CHATS_OSCLINICAS"/>
    <add key="bancoTICKET" value="DIM_TICKETS"/>
    
    <add key="bancoTesteCHAT" value="DIM_CHATS2"/>
    <add key="bancoTesteTICKET" value="DIM_TICKETS2"/>
    <add key="bancoTesteOSCLINICAS" value="DIM_CHATS_OSCLINICAS"/>
    
    <!-- MARCAS -->

    <add key="DC_empresa3" value="DC_________________1"/>
    <add key="DC_empresa2" value="DC________________29"/>
    <add key="DC_empresa1" value="DC________________30"/>
    <add key="DC_empresa4" value="DC________________36"/>
    <add key="DC_empresa5" value="DC________________39"/>
    <add key="DC_empresa6" value="DC________________39"/>

    <!--- Regex Session -->

    <add key="regexFindConfigOfMarca" value="(?&lt;MARCA&gt;DC_.*)"/>
    
    <add key="regexForExtracFileZipInNaoProcessados" value="^.*(NAO[\s-_]+PROCESSADOS\\+.*(?&lt;FILEPARAPROCESSAR&gt;[\d\w-_]+\.zip))"/>
    
    <add key="regexForPathIsInFinalizados" value="^.*(FINALIZADOS\\+(?&lt;FILEFINALIZADO&gt;[\d\s\w-_]+\.zip))"/>
    <add key="regexForGetFinalizedFiles" value="^.*(FINALIZADOS\\+(?&lt;FILEFINALIZADO&gt;[\d\s\w-_]+)\.zip)$"/>

    <add key="regexForGetOSClinicasPath" value="^.*(?&lt;OSCLINICAS&gt;.*OSCLINICAS.*)$"/>


    <add key="regexForRemoveFilesYetProcessed" value="^.*(((NAO[\s_-]+?PROCESSADOS)\\+)[\d\w-_]+)$"/>
    <add key="regexForZipFilestoExtract" value="^((?!FINALIZADOS|LOG).)*\.zip$"/>
    <add key="regexForJsonFilesexp" value="^((?!FINALIZADOS|LOG).)*\.json$"/>
    
    <add key="regAssunto" value="((Assunto\:\s\:\s(?&lt;ASSUNTO&gt;[\s\w\W]+)).*)"/>
    <add key="regDepartamento" value="^.*(Departamento\s\:(?&lt;DEPARTAMENTO&gt;.+)Assunto\:\s\:).*$"/>
    <add key="regMarcaOf" value="(\/[\d\-]+(?&lt;MARCA&gt;[\w]+)\/NAO[\s_-]+?PROCESSADOS)"/>

    <add key ="regCPFmsgOSClinicas" value="CPF\s\/\sID\s:\s(?&lt;CPFID&gt;\d+)"/>
    <add key ="regLOCALIDADEmsgOSClinicas" value="Localidade\s:\s(?&lt;LOCALIDADE&gt;\w+)"/>
    <add key ="regAssuntoOSClinicas" value="((Assunto\s\:\s(?&lt;ASSUNTO&gt;[\s\w\W]+)).*)"/>
    
    <add key="regTicketOf" value="(?&lt;REGTICKETOF&gt;\#vendas)"/>
    <add key="regDataVendaTicket" value="^.*(\#data\s+(?&lt;DATEVENDA&gt;\d{1,2}[\/\\]\d{1,2}[\/\\]\d{2,4})).*?$"/>
    <add key="regAtendenteTicket" value="(\#usuario\s+(?&lt;ATENDENTE&gt;[\w\s]+))"/>
    <add key="regVendasTicket" value="(\#vendas\s+(?&lt;VENDAS&gt;\d+)\s*)"/>
    <add key="regVidasTicket" value="(\#vidas\s+(?&lt;VIDAS&gt;\d+)\s*)"/>
    
  </appSettings>
  
  <connectionStrings>

    <!-- PRODUÇÃO -->
    <add name="Connection" connectionString="ORACLE CONECTION"/>

    <!-- TESTE -->
    <add name="Connection_Test" connectionString="ORACLE CONECTION" providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>

      
